<h1>test </h1>

<script>
    const ordersUrl = '5c8b10a7ee13ff1755736fd43618c064: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@testapp-5058.myshopify.com/admin/api/2023-04/orders.json';

  
   console.log("check",ordersUrl);

</script>