<style>
  .container{
    width: 100%;
    padding: 0 40px;
    position: relative;
    z-index: 10;
  }
  #realisaties ul li .fullLink {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}
  #realisaties ul li:first-child {
    width: calc(40% - 20px);
    height: 720px;
}
  #realisaties ul li {
    float: left;
    width: calc(20% - 20px);
    margin: 10px;
    height: 350px;
    position: relative;
    overflow: hidden;
    transition: .3s all;
}
  #realisaties ul li .image {
    transition: .3s all;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  #realisaties ul li .content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: 100;
    padding: 10px 10px 0 10px;
        display: flex;
    justify-content: space-between;
}
/*  #realisaties ul li:nth-child(2).content,#realisaties ul li:nth-child(4) .content,#realisaties ul li:nth-child(5) .content,#realisaties ul li:nth-child(6) .content,#realisaties ul li:nth-child(10) .content,,#realisaties ul li:nth-child(7) .content {
  display:flex;
   flex-direction:column;
} */
  #realisaties ul li:nth-child(2) .content, #realisaties ul li:nth-child(4) .content,#realisaties ul li:nth-child(7) .content,#realisaties ul li:nth-child(5) .content,#realisaties ul li:nth-child(6) .content,#realisaties ul li:nth-child(9) .content{
    display:flex;
    flex-direction:column;
  }
  #realisaties ul li .content span {
    display: inline-block;
/*     background: #fcc733; */
    background:rgb(34, 255, 156)!important;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    padding: 6px 10px 3px 10px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-right: 10px;
    margin-bottom: 10px;
}
  #realisaties {
    padding-bottom: 60px
}

#realisaties .noContent {
    text-align: center;
    background: rgba(0,0,0,.05);
    max-width: 600px;
    margin: auto;
    width: 100%;
    padding: 40px
}

#realisaties ul {
    list-style: none
}

#realisaties ul li {
    float: left;
    width: calc(20% - 20px);
    margin: 10px;
    height: 350px;
    position: relative;
    overflow: hidden;
    transition: .3s all
}

#realisaties ul li:hover .image {
    transform: scale(1.05)
}

#realisaties ul li .fullLink {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100
}

#realisaties ul li:first-child {
    width: calc(40% - 20px);
    height: 720px
}

#realisaties ul li:nth-child(9n+3),#realisaties ul li:nth-child(9n+8) {
    width: calc(40% - 20px)
}

#realisaties ul li:nth-child(9n+5) {
    height: 720px
}

#realisaties ul li .image {
    transition: .3s all;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

#realisaties ul li .content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: 100;
    padding: 10px 10px 0 10px
}

#realisaties ul li .content span {
    display: inline-block;
   
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    padding: 6px 10px 3px 10px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-right: 10px;
    margin-bottom: 10px
}

#realisaties ul li .content span:nth-child(2n) {
       background: rgb(0, 0, 0)!important;
}

#realisatiesContent {
    padding: 140px 0 60px 0
}
@media screen and (max-width: 1300px) {
    #realisaties ul li {
        width:calc(25% - 20px)
    }

    #realisaties ul li:first-child {
        width: calc(50% - 20px);
        height: 720px
    }

    #realisaties ul li:nth-child(9n+3),#realisaties ul li:nth-child(9n+8) {
        width: calc(50% - 20px)
    }
}

@media screen and (max-width: 1000px) {
    #realisaties ul li {
        width:calc(33.33% - 20px)
    }

    #realisaties ul li:nth-child(9n+1) {
        width: calc(66.66% - 20px)
    }

    #realisaties ul li:nth-child(9n+3),#realisaties ul li:nth-child(9n+8) {
        width: calc(66.66% - 20px)
    }
}
  @media screen and (max-width: 600px){
#realisaties ul li {
    float: none;
    width: 100%;
    margin: 10px 0;
    height: 300px;
}
  }
/*   @media screen and (max-width: 800px){
#realisaties ul li {
    width: calc(50% - 20px);
}
  }
  @media screen and (max-width: 1000px){
#realisaties ul li {
    width: calc(33.33% - 20px);
}
  }
  @media screen and (max-width: 1300px){
#realisaties ul li {
    width: calc(25% - 20px);
}
  } */
  @media screen and (max-width: 600px) {
   
    #realisaties ul li {
        float: none;
        width: 100%;
        margin: 10px 0;
        height: 300px
    }

    #realisaties ul li:first-child {
        width: 100%;
        height: 500px
    }

    #realisaties ul li:nth-child(9n+3),#realisaties ul li:nth-child(9n+8) {
        width: 100%
    }

    #realisaties ul li:nth-child(9n+5) {
        height: 500px
    }
}
  @media screen and (max-width: 800px) {
    #titleRealisatie h1 {
        font-size:40px
    }

    #titleRealisatie h2 {
        font-size: 18px
    }

    #titleRealisatie .filter ul li h3 {
        font-size: 18px
    }

    #realisaties ul li {
        width: calc(50% - 20px)
    }

    #realisaties ul li:nth-child(9n+1) {
        width: calc(100% - 20px)
    }

    #realisaties ul li:nth-child(9n+3),#realisaties ul li:nth-child(9n+8) {
        width: calc(100% - 20px)
    }

    #realisatiesContent .left {
        float: none;
        width: 80%;
        margin: auto;
        margin-bottom: 40px
    }

    #realisatiesContent .right {
        float: none;
        width: 80%;
        margin: auto
    }

    #realisatiesContent .right .inner {
        max-width: 100%
    }
}

#realisaties {
    padding-bottom: 60px
}

#realisaties .noContent {
    text-align: center;
    background: rgba(0,0,0,.05);
    max-width: 600px;
    margin: auto;
    width: 100%;
    padding: 40px
}

#realisaties ul {
    list-style: none
}

#realisaties ul li {
    float: left;
    width: calc(20% - 20px);
    margin: 10px;
    height: 350px;
    position: relative;
    overflow: hidden;
    transition: .3s all
}

#realisaties ul li:hover .image {
    transform: scale(1.05)
}

#realisaties ul li .fullLink {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100
}

#realisaties ul li:first-child {
    width: calc(40% - 20px);
    height: 720px
}

#realisaties ul li:nth-child(9n+3),#realisaties ul li:nth-child(9n+8) {
    width: calc(40% - 20px)
}

#realisaties ul li:nth-child(9n+5) {
    height: 720px
}

#realisaties ul li .image {
    transition: .3s all;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

#realisaties ul li .content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: 100;
    padding: 10px 10px 0 10px
}

#realisaties ul li .content span {
    display: inline-block;
    background: #fcc733;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    padding: 6px 10px 3px 10px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-right: 10px;
    margin-bottom: 10px
}

#realisaties ul li .content span:nth-child(2n) {
    background: #f18f20
}

#realisatiesContent {
    padding: 140px 0 60px 0
}

#realisatiesContent .left {
    float: left;
    width: 45%;
    position: relative
}

#realisatiesContent .left img {
    max-width: 100%
}

#realisatiesContent .right {
    float: right;
    width: 45%
}

#realisatiesContent .right h2 {
    font-size: 40px;
    margin-bottom: 20px
}

#realisatiesContent .right .inner {
    max-width: 350px;
    width: 100%
}

#realisatiesContent .slider-for ul li {
    min-height: 400px;
    position: relative
}

#realisatiesContent .slider-for ul li .fullLink {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100
}

#realisatiesContent .slider-for ul li img {
    height: 100%;
    width: 100%;
    flex: 1;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute
}

#realisatiesContent .slider-nav ul {
    padding: 0 50px;
    margin: 10px 0;
    position: relative
}

#realisatiesContent .slider-nav ul li {
    height: 80px;
    margin: 0 5px;
    overflow: hidden;
    position: relative;
    background: #fff
}

#realisatiesContent .slider-nav ul li.slick-current img {
    opacity: 1
}

#realisatiesContent .slider-nav ul li img {
    height: 100%;
    width: 100%;
    opacity: .4;
    flex: 1;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute
}

#realisatiesContent .slider-nav ul .slick-prev,#realisatiesContent .slider-nav ul .slick-next {
    width: 40px;
    height: 100%;
    top: 0;
    position: absolute;
    background: #fcc733;
    border: none;
    border-radius: 0;
    color: transparent
}

#realisatiesContent .slider-nav ul .slick-prev {
    left: 0
}

#realisatiesContent .slider-nav ul .slick-prev:before {
    content: "";
    font-size: 1.2em;
    font-family: FontAwesome;
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

#realisatiesContent .slider-nav ul .slick-next {
    right: 0
}

#realisatiesContent .slider-nav ul .slick-next:before {
    content: "";
    font-size: 1.2em;
    font-family: FontAwesome;
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

@media screen and (max-width: 1300px) {
    #realisaties ul li {
        width:calc(25% - 20px)
    }

    #realisaties ul li:nth-child(9n+1) {
/*         width: calc(50% - 20px);
        height: 720px */
    }

    #realisaties ul li:nth-child(9n+3),#realisaties ul li:nth-child(9n+8) {
        width: calc(50% - 20px)
    }
}

@media screen and (max-width: 1000px) {
    #realisaties ul li {
        width:calc(33.33% - 20px)
    }

    #realisaties ul li:nth-child(9n+1) {
        width: calc(66.66% - 20px)
    }

    #realisaties ul li:nth-child(9n+3),#realisaties ul li:nth-child(9n+8) {
        width: calc(66.66% - 20px)
    }
}

@media screen and (max-width: 800px) {
    #titleRealisatie h1 {
        font-size:40px
    }

    #titleRealisatie h2 {
        font-size: 18px
    }

    #titleRealisatie .filter ul li h3 {
        font-size: 18px
    }

    #realisaties ul li {
        width: calc(50% - 20px)
    }

    #realisaties ul li:nth-child(9n+1) {
        width: calc(100% - 20px)
    }

    #realisaties ul li:nth-child(9n+3),#realisaties ul li:nth-child(9n+8) {
        width: calc(100% - 20px)
    }

    #realisatiesContent .left {
        float: none;
        width: 80%;
        margin: auto;
        margin-bottom: 40px
    }

    #realisatiesContent .right {
        float: none;
        width: 80%;
        margin: auto
    }

    #realisatiesContent .right .inner {
        max-width: 100%
    }
}

@media screen and (max-width: 600px) {
    #titleRealisatie {
        padding-bottom:0
    }

    #titleRealisatie h1 {
        font-size: 30px
    }

    #titleRealisatie .filter ul li {
        padding: 10px 10px 5px 10px
    }

    #titleRealisatie .filter ul li h3 {
        font-size: 16px
    }

    #realisaties ul li {
        float: none;
        width: 100%;
        margin: 10px 0;
        height: 300px
    }

    #realisaties ul li:nth-child(9n+1) {
/*         width: 100%;
        height: 500px; */
    }

    #realisaties ul li:nth-child(9n+3),#realisaties ul li:nth-child(9n+8) {
        width: 100%
    }

    #realisaties ul li:nth-child(9n+5) {
        height: 500px
    }

    #realisatiesContent .left {
        width: 95%
    }

    #realisatiesContent .right {
        width: 95%
    }

    #realisatiesContent .slider-for ul li {
        min-height: 300px
    }

    #realisatiesContent .slider-nav ul li {
        height: 60px
    }
}
 
@media screen and (max-width: 600px){
  
}
#ul-text li:nth-child(1) {
  position: absolute;
  left: 0px;
  top: 0px;
}

#ul-text li:nth-child(2) {
  position: absolute;
  left: 552.308px;
  top: 0px;
}

#ul-text li:nth-child(3) {
  position: absolute;
  left: 828.462px;
  top: 0px;
}

#ul-text li:nth-child(4) {
  position: absolute;
  left: 552.308px;
  top: 369.988px;
}

#ul-text li:nth-child(5) {
  position: absolute;
  left: 828.462px;
  top: 369.988px;
}

#ul-text li:nth-child(6) {
  position: absolute;
  left: 1104.62px;
  top: 369.988px;
}

#ul-text li:nth-child(7) {
  position: absolute;
  left: 0px;
  top: 739.976px;
}

#ul-text li:nth-child(8) {
  position: absolute;
  left: 280px;
  top: 739.988px;
}

#ul-text li:nth-child(9) {
  position: absolute;
  left: 1104.62px;
  top: 739.976px;
}

  
</style>
<section id="realisaties">
<div class="container">
  <ul style="position: relative; height: 1045px;" id="ul-text" class="">
<!--     first li Fruithal/Sint-Truiden -->
    <li class="custom-li">
<!--       <a class="fullLink" href="https://www.kijzer.be/realisaties/dakrenovatie-in-vosselaar-meneer-bosmans/"></a> -->
      <div class="image" style="background-image: url(https://cdn.shopify.com/s/files/1/0749/9726/8760/files/2.jpg?v=1683704007);"></div>
      <div class="content">
        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Fruithal</font></font></span><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sint-Truiden</font></font></span>
      </div>
    </li>
<!--     second li Tuinberging/Sint-Truiden -->
     <li class="custom-li">
<!--       <a class="fullLink" href="https://www.kijzer.be/realisaties/dakrenovatie-in-vosselaar-meneer-bosmans/"></a> -->
      <div class="image" style="background-image: url(https://cdn.shopify.com/s/files/1/0749/9726/8760/files/2.jpg?v=1683704007);"></div>
      <div class="content">
        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tuinberging</font></font></span><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sint-Truiden</font></font></span>
      </div>
    </li>
<!--     third li Carport/Oudsbergen -->
     <li class="custom-li">
<!--       <a class="fullLink" href="https://www.kijzer.be/realisaties/dakrenovatie-in-vosselaar-meneer-bosmans/"></a> -->
      <div class="image" style="background-image: url(https://cdn.shopify.com/s/files/1/0749/9726/8760/files/2.jpg?v=1683704007);"  ></div>
      <div class="content">
        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Carport</font></font></span><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Oudsbergen</font></font></span>
      </div>
    </li>
<!--     fourth li BIJGEBOUW/BREE -->
     <li class="custom-li">
      <a class="fullLink" href="https://www.kijzer.be/realisaties/dakrenovatie-in-vosselaar-meneer-bosmans/"></a>
      <div class="image" style="background-image: url(https://cdn.shopify.com/s/files/1/0749/9726/8760/files/2.jpg?v=1683704007);"  ></div>
      <div class="content">
        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Bijgebouw</font></font></span><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Bree</font></font></span>
      </div>
    </li>
    <!-- fifth li CCH/AARTSELAAR -->
     <li class="custom-li">
      <a class="fullLink" href="https://www.kijzer.be/realisaties/dakrenovatie-in-vosselaar-meneer-bosmans/"></a>
      <div class="image" style="background-image: url(https://cdn.shopify.com/s/files/1/0749/9726/8760/files/2.jpg?v=1683704007);"  ></div>
      <div class="content">
        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">CCH</font></font></span><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Aartselaar</font></font></span>
      </div>
    </li>
    <!--sixth li Bijgebouw/Maasmechelen -->
     <li class="custom-li">
      <a class="fullLink" href="https://www.kijzer.be/realisaties/dakrenovatie-in-vosselaar-meneer-bosmans/"></a>
      <div class="image" style="background-image: url(https://cdn.shopify.com/s/files/1/0749/9726/8760/files/2.jpg?v=1683704007);"  ></div>
      <div class="content">
        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Bijgebouw</font></font></span><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Maasmechelen</font></font></span>
      </div>
    </li>
    <!--seventh li Paardenstal/Heist-Op-Den-Berg -->
     <li class="custom-li">
      <a class="fullLink" href="https://www.kijzer.be/realisaties/dakrenovatie-in-vosselaar-meneer-bosmans/"></a>
      <div class="image" style="background-image: url(https://cdn.shopify.com/s/files/1/0749/9726/8760/files/2.jpg?v=1683704007);"  ></div>
      <div class="content">
        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Paardenstal</font></font></span><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Heist-Op-Den-Berg</font></font></span>
      </div>
    </li>
    <!--eighth li -->
      <li class="custom-li">
      <a class="fullLink" href="https://www.kijzer.be/realisaties/dakrenovatie-in-vosselaar-meneer-bosmans/"></a>
      <div class="image" style="background-image: url(https://cdn.shopify.com/s/files/1/0749/9726/8760/files/2.jpg?v=1683704007);"  ></div>
      <div class="content">
        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tuinberging</font></font></span><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Boortmeerbeek</font></font></span>
      </div>
    </li>
      <!--ninith li -->
     <li class="custom-li">
      <a class="fullLink" href="https://www.kijzer.be/realisaties/dakrenovatie-in-vosselaar-meneer-bosmans/"></a>
      <div class="image" style="background-image: url(https://cdn.shopify.com/s/files/1/0749/9726/8760/files/2.jpg?v=1683704007);"  ></div>
      <div class="content">
        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tuinberging</font></font></span><span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Averbode</font></font></span>
      </div>
    </li>
  </ul>
</div>
</section>



<script>
// window.addEventListener('DOMContentLoaded', function() {
//   var originalLiStyles = {}; // Store the original styles of li elements
//   var screenWidth = window.innerWidth;
//   var ulElement = document.querySelector('#ul-text');
//   var liElements = ulElement.querySelectorAll('li');

//   if (screenWidth < 700) {
//     addResponsiveStyles();
//   } else {
//     restoreOriginalStyles();
//   }

//   window.addEventListener('resize', function() {
//     screenWidth = window.innerWidth;

//     if (screenWidth < 700) {
//       addResponsiveStyles();
//     } else {
//       restoreOriginalStyles();
//     }
//   });

//   function addResponsiveStyles() {
//     ulElement.style.display = 'flex';
//     ulElement.style.flexDirection = 'column';
//     ulElement.style.height = 'auto'; // Remove fixed height for ul

//     liElements.forEach(function(li) {
//       // li.style.position = 'static'; // Remove absolute positioning
//       // li.style.width = '100%'; // Set fixed width for li
//       // li.style.height = '200px'; // Set fixed height for li
//     });
//   }

//   function restoreOriginalStyles() {
//     ulElement.style.display = 'block';
//     ulElement.style.flexDirection = 'row';
//     ulElement.style.height = '1045px'; // Restore fixed height for ul

//     liElements.forEach(function(li, index) {
//       // Check if original styles are stored
//       var originalStyles = originalLiStyles[index];
//       if (originalStyles) {
//         li.style.position = originalStyles.position;
//         li.style.left = originalStyles.left;
//         li.style.top = originalStyles.top;
//         li.style.width = originalStyles.width;
//         li.style.height = originalStyles.height;
//       } else {
//         // Store original styles for the first time
//         originalLiStyles[index] = {
//           position: li.style.position,
//           left: li.style.left,
//           top: li.style.top,
//           width: li.style.width,
//           height: li.style.height
//         };
//       }
//     });
//   }
// });







</script>